Repository discord-samba/localization: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jest --bail --findRelatedTests

.lintstagedrc.json:

{
	"*.ts": [
		"eslint",
		"jest --bail --findRelatedTests"
	],
	"*.js": "eslint"
}

tooling(workflows): bump installed node version to 14
  .github/workflows/publish_dev.yml
  .github/workflows/publish_docs.yml
  .github/workflows/publish_stable.yml
  .github/workflows/test.yml
  .github/workflows/test_docs.yml
Due: none

chore: update dev-deps
  package-lock.json
  package.json
Due: none

tooling(lint-staged): fix lint-staged jest runs
  .lintstagedrc.json
Due: none

chore(dev-deps): update husky, lint-staged deps
  package.json
Due: none

chore: update eslint-config dep
  package-lock.json
  package.json
  tsconfig.json
Due: none

tooling(workflows): add --no-git-tag-version to dev build workflow
  .github/workflows/publish_dev.yml
Due: none

tooling(workflows): check for docs build errors
  .github/workflows/test_docs.yml
Due: none

chore: update for primary branch rename
  .github/workflows/publish_dev.yml
  .github/workflows/publish_docs.yml
  README.md
  scripts/typedoc-runner.js
Due: eslint

Build docs from main: 8f44303887b65711913203c2055cc030b8994957
  _includes/README.md
  docs/classes/localization.html
  docs/classes/localizationstringerror.html
  docs/classes/parseerror.html
  docs/globals.html
  docs/index.html
Due: none

tooling: fix jest debugging in vsc not taking config
  .vscode/launch.json
Due: none

chore: update FUNDING.yml
  .github/FUNDING.yml
Due: none

feat: improve resource proxy type hinting capabilities
  src/Localization.ts
  src/types/LocalizationResourceProxy.ts
Due: eslint, jest --bail --findRelatedTests

Push staging from: 2cb20aff6c06a7c71ee03c75cfd308ca63017ede
  Localization.ts
  types/LocalizationResourceProxy.ts
Due: eslint, jest --bail --findRelatedTests

Build docs from main: 2cb20aff6c06a7c71ee03c75cfd308ca63017ede
  docs/assets/js/search.json
  docs/classes/localization.html
  docs/globals.html
  docs/index.html
Due: none

docs(LocalizationResourceProxy): fix typescript example
  src/types/LocalizationResourceProxy.ts
Due: eslint, jest --bail --findRelatedTests

Push staging from: 421f37d5c864480d03e81a5304a58bd20c996ecd
  types/LocalizationResourceProxy.ts
Due: eslint, jest --bail --findRelatedTests

Build docs from main: 421f37d5c864480d03e81a5304a58bd20c996ecd
  docs/globals.html
  docs/index.html
Due: none

Build docs from main: 425108b7c54b55ea5aacddb1dd7adbc295b6df4d
  docs/assets/css/main.css
  docs/assets/js/main.js
  docs/classes/localization.html
  docs/classes/localizationstringerror.html
  docs/classes/parseerror.html
  docs/globals.html
  docs/index.html
  docs/interfaces/templatearguments.html
Due: eslint

docs: change docs theme
  scripts/typedoc-runner.js
Due: eslint

Build docs from main: 2947fd4c3449f81ff89100ef257b5b17eb003add
  docs/assets/css/main.css
  docs/classes/localization.html
  docs/classes/localizationstringerror.html
  docs/classes/parseerror.html
  docs/globals.html
  docs/index.html
  docs/interfaces/templatearguments.html
Due: none

tooling(docs): update typedoc runner, update exports
  scripts/typedoc-runner.js
  src/index.ts
Due: eslint, jest --bail --findRelatedTests

Push staging from: 7099a66891af80657c8a8f340232b0e5b28968ea
  index.ts
Due: eslint, jest --bail --findRelatedTests

Build docs from main: 7099a66891af80657c8a8f340232b0e5b28968ea
  docs/assets/js/search.json
  docs/classes/_src_localization_.localization.html
  docs/classes/_src_localizationstringerror_.localizationstringerror.html
  docs/classes/_src_parser_parseerror_.parseerror.html
  docs/globals.html
  docs/interfaces/_src_types_templatearguments_.templatearguments.html
  docs/modules/_src_commandinfoprovider_.html
  docs/modules/_src_index_.html
  docs/modules/_src_interfaces_localizationstringchildnode_.html
  docs/modules/_src_interfaces_localizationstringparentnode_.html
  docs/modules/_src_loader_localizationfileloader_.html
  docs/modules/_src_localization_.html
  docs/modules/_src_localizationcache_.html
  docs/modules/_src_localizationstringbuilder_.html
  docs/modules/_src_localizationstringerror_.html
  docs/modules/_src_nodekindimpl_nodekindimplincludetemplate_.html
  docs/modules/_src_nodekindimpl_nodekindimplmatchtemplate_.html
  docs/modules/_src_nodekindimpl_nodekindimploptionaltemplate_.html
  docs/modules/_src_nodekindimpl_nodekindimplparentnode_.html
  docs/modules/_src_nodekindimpl_nodekindimplregulartemplate_.html
  docs/modules/_src_nodekindimpl_nodekindimplscripttemplate_.html
  docs/modules/_src_nodekindimpl_nodekindimplstringchunk_.html
  docs/modules/_src_parser_localizationparser_.html
  docs/modules/_src_parser_parseerror_.html
  docs/modules/_src_parser_stringreader_.html
  docs/modules/_src_parser_templateparser_.html
  docs/modules/_src_types_commandinfoprovider_.html
  docs/modules/_src_types_localizationpipefunction_.html
  docs/modules/_src_types_localizationresourcemetadata_.html
  docs/modules/_src_types_localizationresourceproxy_.html
  docs/modules/_src_types_localizationstringchildresultnode_.html
  docs/modules/_src_types_localizationstringchunkkind_.html
  docs/modules/_src_types_localizationstringnodekind_.html
  docs/modules/_src_types_localizationstringparentkeydata_.html
  docs/modules/_src_types_localizationstringtemplatekind_.html
  docs/modules/_src_types_localizationstringtypedeclaration_.html
  docs/modules/_src_types_localizationstringtypedeclarationmapping_.html
  docs/modules/_src_types_primitive_.html
  docs/modules/_src_types_templatearguments_.html
  docs/modules/_src_types_templatepipe_.html
Due: none

tooling(docs): update typedoc dep
  package-lock.json
  package.json
Due: none

tooling(docs): add typedoc-patch
  package-lock.json
  package.json
  scripts/typedoc-runner.js
Due: eslint

Build docs from main: 8884db0503de9d0b23a9c1646c727490014777da
  docs/assets/css/main.css
  docs/classes/localization.html
  docs/index.html
  docs/interfaces/templatearguments.html
  docs/modules.html
Due: none

tooling(husky): update for husky v5 support
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  package.json
Due: none

chore: clean up
  src/LocalizationStringBuilder.ts
Due: eslint, jest --bail --findRelatedTests

Push staging from: 8e9db5e326cd944d1e2720c9aac9d42c6cd6a013
  LocalizationStringBuilder.ts
Due: eslint, jest --bail --findRelatedTests

tooling(workflows): check for package changes in dev staging
  .github/workflows/publish_dev.yml
Due: none

chore: remove postinstall script
  package.json
Due: none

Push staging from: 49e3127950398216dd7cae9d434958ea3e9603fd
  package.json
Due: none

Build docs from main: aa975df973774c537ad6fc73816e9e8ff3d6687f
  docs/modules.html
Due: none

chore(NodeKindImplScriptTemplate): fix formatting
  src/nodeKindImpl/NodeKindImplScriptTemplate.ts
Due: eslint, jest --bail --findRelatedTests

Push staging from: a408ec69cb204dddb5bcbfef62f33a5ff842505a
  nodeKindImpl/NodeKindImplScriptTemplate.ts
Due: eslint, jest --bail --findRelatedTests

refactor(ResourceProxy): make resource proxies work with interfaces
  .husky/.gitignore
  src/Localization.ts
  src/index.ts
  src/types/LocalizationResourceProxy.ts
  src/types/ResourcePath.ts
Due: eslint, jest --bail --findRelatedTests

Push staging from: 63256d5d5eda6550752b39af671c4408270f7642
  Localization.ts
  index.ts
  types/LocalizationResourceProxy.ts
  types/ResourcePath.ts
Due: eslint, jest --bail --findRelatedTests

Build docs from main: 63256d5d5eda6550752b39af671c4408270f7642
  docs/assets/js/search.js
  docs/classes/localization.html
  docs/index.html
  docs/interfaces/templatearguments.html
  docs/modules.html
Due: eslint

refactor(Localization): clean up, eliminate unecessary 'as any' casts
  src/Localization.ts
  src/LocalizationCache.ts
  src/LocalizationStringBuilder.ts
  src/types/InternalLocalization.ts
  src/types/InternalResourceProxy.ts
Due: eslint, jest --bail --findRelatedTests
